  .image {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 50%;
  }

  .dog_code {
    font-style: italic;
    position: relative;
    top: -25px;
  }

  .return_button {
    position: absolute;
    top: 25px;
    left: 15px;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .return_button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .return_button:focus, .return_button.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .return_button.disabled, .return_button:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .return_button:not(:disabled):not(.disabled):active, .return_button:not(:disabled):not(.disabled).active,
  .show > .return_button.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .return_button:not(:disabled):not(.disabled):active:focus, .return_button:not(:disabled):not(.disabled).active:focus,
  .show > .return_button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }

  .header {
    text-align: center;
    background-color: #d372bdb0;
    height: 80px;
  }

  .separator {
    border: none;
    border-top: solid #d372bdb0;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #d372bdb0;
  }

  .description {
    border: 2px solid #d372bdb0;
    margin: 20px;
    padding: 10px;
    background: none;
    border-radius: 25px;
    color: black;
    font-size: 18px;
  }