  <div *ngIf="dog">
    <header class="header">
      <div><button class="return_button" (click)="return_homepage()">Homepage</button><h1>Detailed Information</h1></div>
      <h2 class="dog_code">Dog: {{dog.status_code}}</h2>
    </header>
    <img class="image" [src]="dog.image['jpg']" title={{dog.title}} (mouseover)="dog.showDescription = true" (mouseout)="dog.showDescription = false">
    <div *ngIf="dog.showDescription" class="description">
      <p class="title">Text description:</p>
      <hr class="separator">
      <p>{{dog.description}}</p>
    </div>
  </div>
