
 .header {
  text-align: center;
  background-color: #d372bdb0;
  height: 80px;
}

 .dog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 15px;
  }
  
  .dog-card {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .dog-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dog-card a {
    display: block;
    text-decoration: none;
    color: #d372bcf7;
    font-weight: bold;
    font-size: large;
  }
  
  .dog-card img {
    max-width: 100%;
    height: auto;
  }
  