<header class="header">
  <h1 style="padding-top: 15px">🐶 Welcome to Dogs' Home 🐶</h1>
</header>
<div class="dog-grid">
  <div *ngFor="let dog of dogs" class="dog-card">
    <a [routerLink]="['/details', dog.status_code]" routerLinkActive="active">
      <img [src]="dog.image['jpg']" title="{{dog.url}}">
      <p>{{dog.status_code}}</p>
    </a>
  </div>
</div>